# Python
__pycache__/
*.py[cod]
*.egg-info/
*.env
venv/
.python-version

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.backup
*.tfvars

# AWS
**/.aws/credentials

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Local files
*.log
*.swp
.DS_Store